@font-face{
    font-family:  "Cooper Std Black";
    src: url("fonts/CooperBlackStd.otd");
}
body{
    background: radial-gradient(at top, orange, red);
    background-attachment: fixed    
}

.col-15{
    text-align: center;
    color: rgb(253, 251, 251);
}

.col-13{
    text-align: center;
    color: rgb(253, 251, 251);
}

.bg-light {
    background-color: #f8f9fa3b!important;
}
.bg-gradiente{
    background: linear-gradient(-45deg,red,yellow);
}
h1,h2,h3,h4,.nav-link{
    font-family:  "Cooper Std Black";
    color: #FF3F00
}
h1{
    -webkit-text-stroke: 2px red;
    color: #FFBF00;
}
.btn-rocoto{
    position:absolute;
    border: 2px solid transparent;
    border-radius: 20px;
    background-image: linear-gradient(red,yellow), radial-gradient(orange, white);
    background-origin: border-box;
    background-clip: content-box,border-box;
    color: rgb(255, 255, 255)
}
.btn-rocoto:hover{
    text-decoration: none;
    color: yellow;
}
.btn-rocoto span{
    padding: 7px 40px;
    display: block
}
.form-control{
    border-color:orangered
}

<!----Formulario---->
    * {
      box-sizing: border-box;
  }
  
  body{
      background: #2b2622;
      color: rgb(136, 150, 14);
      font-family: 'quicksand', sans-serif;
      padding: 0 1.5em;
  }
  
  .content {
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
      padding: 1.5em;
  }
  
  .logo {
      text-align: center;
      fon: 3em;t
  }
  
  .logo spam{
      color: #b70e21;
  
  }
  
  .contact-wrapper{
      box-shadow: 0 0 20px 0 rgba(207, 12, 12, 0.3);
  }
  
  .contact-form form button: hover,
  .contact-form form button: focus{
      background: #d63031;
      color: #fff;
  }
  .contact-form form button,
  .contact-form form input,
  .contact-form form textarea {
      width: 100%;
      padding: .7em;
      border: none;
      outline: 0;
      color: rgb(250, 248, 248);
      background: none;
      border-bottom: 1px solid #d63031;
  }
#map{
    text-align: center;
}


#tiempo{float: left}
    #logowhatsapp{float: right}
    #logofacebook{float: right}
    #logoinstagram{float: right}